### Exploration task

In this Notebook the question of whether CO2 Emissions per Capita is connected to where the city is geographically located in the world will be investigated. To answer this question applying statistical significance testing will be attempted using the ordinary least squares method as well as attempting to visually see if clustering of CO2 Emissions in every city can be seen in regards to the region which the cities are located.

In [1]:
# Want to find out if df['CO2 Emissions per Capita (metric tonnes)'] is affected by what Country the city is located

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim
import seaborn
from  matplotlib import pyplot
from matplotlib.pyplot import figure
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


df = pd.read_excel('Cities.xls', index_col=0, skipinitialspace=True) # Read with excel index. 
# Skip all white-spaces.

In [3]:
df.head()

,City,cityID,clusterID,Typology,Country,Car Modeshare (%),Public Transit Modeshare (%),Bicycle Modeshare (%),Walking Modeshare (%),Gasoline Pump Price (USD/liter),Road Deaths Rate (per 1000),Subway Length (km),Subway Length Density (per km),Subway Stations per Hundred Thousand,Subway Ridership per Capita,Subway Age (years),BRT Length (km),BRT System Length Density (per km),BRT Stations per Hundred Thousand Persons,BRT Fleet per Hundred Thousand Persons,BRT Annual Ridership per Capita,BRT Age (years),Bikeshare Stations,Bikeshare Stations per Hundred Thousand Persons,Bikeshare Number of Bikes,Bikeshare Bicycles per Hundred Thousand Persons,Bikeshare Age (years),Congestion (%),Congestion AM Peak (%),Congestion PM Peak (%),Traffic Index,Travel Time Index,Inefficiency Index,Population,Land Area (sq. km),Population Density (per sq. km),Population Change 1990 – 2000,Population Change 2000 – 2010,Population Change 2010 – 2020,Population Change 2020 – 2025,Urbanization Rate 2015 (%),Urbanization Rate Change 2015 – 2025 (pp),GDP per Capita (USD),Unemployment Rate (%),Cost of Living Index,Rent Index,Grocery Index,Restaurant Price Index,Local Purchasing Power Index,Gini Coefficient,Poverty Rate (%),Life Expectancy (years),Safety Index,Internet Penetration,Digital Penetration,Innovation Index,Smartphone Penetration (%),CO2 Emissions per Capita (metric tonnes),Pollution Index,Street length total (m),Street Length Density (m/sq. km),Street Length Average (m),Intersection Count,Intersection Density (per sq. km),Degree Average,Streets per Node,Circuity,Self-Loop Proportion,Highway Proportion,Metro Propensity Factor,BRT Propensity Factor,BikeShare Propensity Factor,Development Factor,Sustainability Factor,Population Factor,Congestion Factor,Sprawl Factor,Network Density Factor
284,Baltimore(MD),285,7,Auto Sprawl,United States,85.0,6.1,0.3,2.6,0.66,8.5,24.9,0.013409,0.615385,6.417582,34,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,2.197802,NaN,0.00000,2.0,19.0,33.0,46.0,148.97,36.90,150.22,2275000,1857,1200,233673,332204,399059,195708,81.6,1.7,58789.0,7.20,77.33,48.58,76.48,78.28,150.69,0.443,22.9,78.8,31.19,81.0,0.78,45.0,72.0,14.300000,NaN,7468900.983,7.604833e+09,148.013337,28660.0,1018.199702,5.021972,2.869906,1.067736,0.007910,0.041018,0.160848,0.176867,0.360637,0.796264,0.355964,0.081956,0.180085,0.722163,0.425187
9,Melbourne,10,8,Auto Innovative,Australia,80.0,14.0,2,4.0,1.11,5.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,1.264223,600.0,15.17067,2.0,33.0,55.0,58.0,143.12,35.57,138.17,3955000,2543,1500,316060,462816,715525,350883,89.4,1.2,39358.0,5.50,79.04,44.30,72.93,76.07,139.62,NaN,NaN,82.0,60.23,86.9,0.74,50.0,77.0,10.200000,26.77,8636838.530,8.653670e+09,107.503591,48571.0,1001.948856,4.948413,2.876305,1.036985,0.001626,0.014489,0.060387,0.168335,0.363675,0.786174,0.397894,0.082267,0.333173,0.539355,0.558910
185,Niamey,186,1,Congested Emerging,Niger,NaN,9.0,2,60.0,1.02,26.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1435000,130,11100,248392,541978,960996,741379,18.7,3.5,427.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,61.8,NaN,2.4,0.04,NaN,NaN,0.106861,NaN,2134329.200,3.496995e+09,97.860119,13033.0,1638.451450,6.161297,3.187450,1.019423,0.000095,0.000000,0.036220,0.010915,0.343161,0.000000,0.273646,0.248398,0.655464,0.275605,0.410312
327,Hanoi,328,12,MetroBike Emerging,Vietnam,8.0,10.0,2,NaN,0.90,24.5,0.0,0.000000,0.000000,0.000000,0,14.5,NaN,0.143000,NaN,0.149000,1.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,160.60,40.78,189.18,7445000,868,8600,520495,1149423,1391900,608994,33.6,6.3,3425.0,6.84,41.73,17.15,37.25,22.72,23.47,0.340,5.4,76.0,54.64,50.1,0.31,35.0,35.0,1.700368,89.66,8079366.816,1.156634e+09,300.370541,15881.0,143.158938,5.205795,2.870473,1.097533,0.000921,0.022938,0.078028,0.084511,0.358868,0.157676,0.509057,0.292564,0.624623,0.666710,0.239113
66,Urumqi,67,12,MetroBike Emerging,China,21.7,54.7,NaN,NaN,1.16,18.8,0.0,0.000000,0.000000,0.000000,0,66.0,0.134146,2.537764,9.123867,34.441088,7.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3310000,492,6700,556511,1249115,1610288,491541,55.6,9.8,12189.0,3.40,NaN,NaN,NaN,NaN,NaN,0.320,NaN,76.1,NaN,50.1,0.43,NaN,58.0,7.550916,NaN,8891135.865,2.169530e+08,546.944874,9567.0,24.401041,4.736409,2.680313,1.064157,0.000348,0.060128,0.103334,0.447261,0.392551,0.287235,0.801464,0.322960,0.586019,0.791822,0.075617

In [4]:
df = df.rename(columns={"CO2 Emissions per Capita (metric tonnes)": "Target"})
df.head()

,City,cityID,clusterID,Typology,Country,Car Modeshare (%),Public Transit Modeshare (%),Bicycle Modeshare (%),Walking Modeshare (%),Gasoline Pump Price (USD/liter),Road Deaths Rate (per 1000),Subway Length (km),Subway Length Density (per km),Subway Stations per Hundred Thousand,Subway Ridership per Capita,Subway Age (years),BRT Length (km),BRT System Length Density (per km),BRT Stations per Hundred Thousand Persons,BRT Fleet per Hundred Thousand Persons,BRT Annual Ridership per Capita,BRT Age (years),Bikeshare Stations,Bikeshare Stations per Hundred Thousand Persons,Bikeshare Number of Bikes,Bikeshare Bicycles per Hundred Thousand Persons,Bikeshare Age (years),Congestion (%),Congestion AM Peak (%),Congestion PM Peak (%),Traffic Index,Travel Time Index,Inefficiency Index,Population,Land Area (sq. km),Population Density (per sq. km),Population Change 1990 – 2000,Population Change 2000 – 2010,Population Change 2010 – 2020,Population Change 2020 – 2025,Urbanization Rate 2015 (%),Urbanization Rate Change 2015 – 2025 (pp),GDP per Capita (USD),Unemployment Rate (%),Cost of Living Index,Rent Index,Grocery Index,Restaurant Price Index,Local Purchasing Power Index,Gini Coefficient,Poverty Rate (%),Life Expectancy (years),Safety Index,Internet Penetration,Digital Penetration,Innovation Index,Smartphone Penetration (%),Target,Pollution Index,Street length total (m),Street Length Density (m/sq. km),Street Length Average (m),Intersection Count,Intersection Density (per sq. km),Degree Average,Streets per Node,Circuity,Self-Loop Proportion,Highway Proportion,Metro Propensity Factor,BRT Propensity Factor,BikeShare Propensity Factor,Development Factor,Sustainability Factor,Population Factor,Congestion Factor,Sprawl Factor,Network Density Factor
284,Baltimore(MD),285,7,Auto Sprawl,United States,85.0,6.1,0.3,2.6,0.66,8.5,24.9,0.013409,0.615385,6.417582,34,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,2.197802,NaN,0.00000,2.0,19.0,33.0,46.0,148.97,36.90,150.22,2275000,1857,1200,233673,332204,399059,195708,81.6,1.7,58789.0,7.20,77.33,48.58,76.48,78.28,150.69,0.443,22.9,78.8,31.19,81.0,0.78,45.0,72.0,14.300000,NaN,7468900.983,7.604833e+09,148.013337,28660.0,1018.199702,5.021972,2.869906,1.067736,0.007910,0.041018,0.160848,0.176867,0.360637,0.796264,0.355964,0.081956,0.180085,0.722163,0.425187
9,Melbourne,10,8,Auto Innovative,Australia,80.0,14.0,2,4.0,1.11,5.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,1.264223,600.0,15.17067,2.0,33.0,55.0,58.0,143.12,35.57,138.17,3955000,2543,1500,316060,462816,715525,350883,89.4,1.2,39358.0,5.50,79.04,44.30,72.93,76.07,139.62,NaN,NaN,82.0,60.23,86.9,0.74,50.0,77.0,10.200000,26.77,8636838.530,8.653670e+09,107.503591,48571.0,1001.948856,4.948413,2.876305,1.036985,0.001626,0.014489,0.060387,0.168335,0.363675,0.786174,0.397894,0.082267,0.333173,0.539355,0.558910
185,Niamey,186,1,Congested Emerging,Niger,NaN,9.0,2,60.0,1.02,26.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1435000,130,11100,248392,541978,960996,741379,18.7,3.5,427.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,61.8,NaN,2.4,0.04,NaN,NaN,0.106861,NaN,2134329.200,3.496995e+09,97.860119,13033.0,1638.451450,6.161297,3.187450,1.019423,0.000095,0.000000,0.036220,0.010915,0.343161,0.000000,0.273646,0.248398,0.655464,0.275605,0.410312
327,Hanoi,328,12,MetroBike Emerging,Vietnam,8.0,10.0,2,NaN,0.90,24.5,0.0,0.000000,0.000000,0.000000,0,14.5,NaN,0.143000,NaN,0.149000,1.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,160.60,40.78,189.18,7445000,868,8600,520495,1149423,1391900,608994,33.6,6.3,3425.0,6.84,41.73,17.15,37.25,22.72,23.47,0.340,5.4,76.0,54.64,50.1,0.31,35.0,35.0,1.700368,89.66,8079366.816,1.156634e+09,300.370541,15881.0,143.158938,5.205795,2.870473,1.097533,0.000921,0.022938,0.078028,0.084511,0.358868,0.157676,0.509057,0.292564,0.624623,0.666710,0.239113
66,Urumqi,67,12,MetroBike Emerging,China,21.7,54.7,NaN,NaN,1.16,18.8,0.0,0.000000,0.000000,0.000000,0,66.0,0.134146,2.537764,9.123867,34.441088,7.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3310000,492,6700,556511,1249115,1610288,491541,55.6,9.8,12189.0,3.40,NaN,NaN,NaN,NaN,NaN,0.320,NaN,76.1,NaN,50.1,0.43,NaN,58.0,7.550916,NaN,8891135.865,2.169530e+08,546.944874,9567.0,24.401041,4.736409,2.680313,1.064157,0.000348,0.060128,0.103334,0.447261,0.392551,0.287235,0.801464,0.322960,0.586019,0.791822,0.075617

In [5]:
dummy = pd.get_dummies(df['Country'])
dummy.head()

,Afghanistan,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bangladesh,Belarus,Belgium,Benin,Bolivia,Brazil,Bulgaria,Burkina Faso,Cambodia,Cameroon,Canada,Chad,Chile,China,Colombia,Congo,Costa Rica,Cuba,Czech Republic,Democratic Republic of the Congo,Denmark,Dominican Republic,Ecuador,Egypt,El Salvador,Ethiopia,Finland,France,Georgia,Germany,Ghana,Greece,Guatemala,Guinea,Haiti,Honduras,Hong Kong,Hungary,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Ivory Coast,Japan,Jordan,Kazakhstan,Kenya,Kuwait,Kyrgyzstan,Laos,Lebanon,Liberia,Libya,Madagascar,Malaysia,Mali,Mauritania,Mexico,Mongolia,Morocco,Mozambique,Myanmar,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Korea,Norway,Pakistan,Panama,Paraguay,Peru,Philippines,Poland,Portugal,Puerto Rico,Romania,Russia,Rwanda,Saudi Arabia,Senegal,Serbia,Sierra Leone,Singapore,Slovakia,Somalia,South Africa,South Korea,Spain,Sudan,Sweden,Switzerland,Syria,Taiwan,Tanzania,Thailand,Togo,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
185,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
327,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
url = 'https://stats.idre.ucla.edu/stat/data/hsb2.csv'

hsb2 = pd.read_csv(url)
hsb2.head()

    id  female  race  ses  schtyp  prog  read  write  math  science  socst
0   70       0     4    1       1     1    57     52    41       47     57
1  121       1     4    2       1     3    68     59    53       63     61
2   86       0     4    3       1     1    44     33    54       58     31
3  141       0     4    3       1     3    63     44    47       53     56
4  172       0     4    2       1     2    47     52    57       53     61

In [7]:
# df['CO2 Emissions per Capita (metric tonnes)']

In the code cell below the OLS method is used on the target variable (CO2 Emission) to see if it is significantly dependent on the variable Conutry. As seen from summary below the p values do not indicate significance for most countries. However to see if we can visualize this we will attempt to make a plot of the cities depending on the region which the cities are located.

In [8]:
mod = ols("Target ~ Country", data=df)
# mod = ols("write ~ C(race)", data=hsb2)
res = mod.fit()
print(res.summary())
# The summary shows that although p values differ between countries, generally the country is not significant.

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.767
Model:                            OLS   Adj. R-squared:                  0.629
Method:                 Least Squares   F-statistic:                     5.555
Date:                Sun, 15 Nov 2020   Prob (F-statistic):           1.82e-27
Time:                        15:46:35   Log-Likelihood:                -849.27
No. Observations:                 331   AIC:                             1947.
Df Residuals:                     207   BIC:                             2418.
Df Model:                         123
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
Intercept                                       0.6932      3.981      0.174      0.862      -7.155       8.542
Country[T.Algeria]                              2.8216      4.876      0.579      0.563      -6.791      12.434
Country[T.Angola]                               0.6913      4.876      0.142      0.887      -8.921      10.304
Country[T.Argentina]                            3.7691      4.876      0.773      0.440      -5.843      13.381
Country[T.Armenia]                              1.1439      5.630      0.203      0.839      -9.955      12.243
Country[T.Australia]                            9.1068      4.876      1.868      0.063      -0.505      18.719
Country[T.Austria]                             13.5068      5.630      2.399      0.017       2.407      24.606
Country[T.Azerbaijan]                           3.0919      5.630      0.549      0.583      -8.007      14.191
Country[T.Bangladesh]                          -0.2544      4.876     -0.052      0.958      -9.867       9.358
Country[T.Belarus]                              6.0435      5.630      1.073      0.284      -5.056      17.143
Country[T.Belgium]                             11.6068      4.876      2.381      0.018       1.995      21.219
Country[T.Benin]                               -0.1315      5.630     -0.023      0.981     -11.231      10.968
Country[T.Bolivia]                              1.2013      4.876      0.246      0.806      -8.411      10.814
Country[T.Brazil]                               1.7727      4.300      0.412      0.681      -6.705      10.250
Country[T.Bulgaria]                             4.7525      5.630      0.844      0.400      -6.347      15.852
Country[T.Burkina Faso]                        -0.5142      5.630     -0.091      0.927     -11.614      10.585
Country[T.Cambodia]                            -0.3235      5.630     -0.057      0.954     -11.423      10.776
Country[T.Cameroon]                            -0.3864      4.876     -0.079      0.937      -9.999       9.226
Country[T.Canada]                              17.9068      4.300      4.164      0.000       9.430      26.384
Country[T.Chad]                                -0.6469      5.630     -0.115      0.909     -11.746      10.452
Country[T.Chile]                                2.2401      4.597      0.487      0.627      -6.822      11.303
Country[T.China]                                7.2257      4.047      1.786      0.076      -0.752      15.204
Country[T.Colombia]                             1.1999      4.876      0.246      0.806      -8.412      10.812
Country[T.Congo]                               -0.1282      5.630     -0.023      0.982     -11.228      10.971
Country[T.Costa Rica]                           0.9251      5.630      0.164      0.870     -10.174      12.024
Country[T.Cuba]                                 2.7690      5.630      0.492      0.623      -8.330      13.868
Country[T.Czech Republic]                      12.3068      5.630      2.186      0.030       1.207      23.406
Country[T.Democratic Republic of the Congo]    -0.6549      4.876     -0.134      0.893     -10.267       8.957
Country[T.Denmark]                              6.4068      5.630      1.138      0.256      -4.693      17.506
Country[T.Dominican Republic]                   1.4536      5.630      0.258      0.797      -9.646      12.553
Country[T.Ecuador]                              2.0861      4.876      0.428      0.669      -7.526      11.698
Country[T.Egypt]                                1.7381      4.876      0.356      0.722      -7.874      11.350
Country[T.El Salvador]                          0.3510      5.630      0.062      0.950     -10.748      11.450
Country[T.Ethiopia]                            -0.5807      5.630     -0.103      0.918     -11.680      10.519
Country[T.Finland]                             15.1068      5.630      2.683      0.008       4.007      26.206
Country[T.France]                               6.4925      4.256      1.526      0.129      -1.898      14.883
Country[T.Georgia]                              1.2957      5.630      0.230      0.818      -9.804      12.395
Country[T.Germany]                             13.3668      4.361      3.065      0.002       4.769      21.964
Country[T.Ghana]                               -0.1344      4.876     -0.028      0.978      -9.747       9.478
Country[T.Greece]                               3.9068      4.876      0.801      0.424      -5.705      13.519
Country[T.Guatemala]                            0.1734      5.630      0.031      0.975     -10.926      11.273
Country[T.Guinea]                              -0.5008      5.630     -0.089      0.929     -11.600      10.599
Country[T.Haiti]                               -0.4626      5.630     -0.082      0.935     -11.562      10.637
Country[T.Honduras]                             0.4617      5.630      0.082      0.935     -10.638      11.561
Country[T.Hong Kong]                            5.5669      5.630      0.989      0.324      -5.532      16.666
Country[T.Hungary]                              8.8068      5.630      1.564      0.119      -2.293      19.906
Country[T.India]                                0.8971      4.144      0.217      0.829      -7.272       9.066
Country[T.Indonesia]                            1.2146      4.597      0.264      0.792      -7.848      10.277
Country[T.Iran]                                 7.3037      4.361      1.675      0.095      -1.294      15.901
Country[T.Iraq]                                 4.2270      4.876      0.867      0.387      -5.385      13.839
Country[T.Ireland]                             11.7068      5.630      2.079      0.039       0.607      22.806
Country[T.Israel]                               8.1255      4.597      1.768      0.079      -0.937      17.188
Country[T.Italy]                                7.1068      4.451      1.597      0.112      -1.668      15.882
Country[T.Ivory Coast]                         -0.2775      5.630     -0.049      0.961     -11.377      10.822
Country[T.Japan]                                5.4925      4.256      1.291      0.198      -2.898      13.883
Country[T.Jordan]                               2.7452      5.630      0.488      0.626      -8.354      13.845
Country[T.Kazakhstan]                          14.7396      5.630      2.618      0.009       3.640      25.839
Country[T.Kenya]                               -0.3888      4.876     -0.080      0.937     -10.001       9.224
Country[T.Kuwait]                              26.5658      5.630      4.719      0.000      15.466      37.665
Country[T.Kyrgyzstan]                           1.0276      5.630      0.183      0.855     -10.072      12.127
Country[T.Laos]                                -0.3627      5.630     -0.064      0.949     -11.462      10.737
Country[T.Lebanon]                              3.5779      5.630      0.636      0.526      -7.521      14.677
Country[T.Liberia]                             -0.4703      5.630     -0.084      0.934     -11.570      10.629
Country[T.Libya]                                7.4525      5.630      1.324      0.187      -3.647      18.552
Country[T.Madagascar]                          -0.5590      5.630     -0.099      0.921     -11.658      10.540
Country[T.Malaysia]                             7.3335      4.876      1.504      0.134      -2.279      16.946
Country[T.Mali]                                -0.6313      5.630     -0.112      0.911     -11.731      10.468
Country[T.Mauritania]                          -0.0095      5.630     -0.002      0.999     -11.109      11.090
Country[T.Mexico]                               2.3168      4.175      0.555      0.580      -5.915      10.548
Country[T.Mongolia]                            13.8534      5.630      2.461      0.015       2.754      24.953
Country[T.Morocco]                              1.0573      4.876      0.217      0.829      -8.555      10.670
Country[T.Mozambique]                          -0.5413      5.630     -0.096      0.923     -11.641      10.558
Country[T.Myanmar]                             -0.4553      4.876     -0.093      0.926     -10.068       9.157
Country[T.Nepal]                               -0.4596      5.630     -0.082      0.935     -11.559      10.640
Country[T.Netherlands]                         15.0568      4.876      3.088      0.002       5.445      24.669
Country[T.New Zealand]                          6.9519      5.630      1.235      0.218      -4.147      18.051
Country[T.Nicaragua]                            0.0753      5.630      0.013      0.989     -11.024      11.175
Country[T.Niger]                               -0.5863      5.630     -0.104      0.917     -11.686      10.513
Country[T.Nigeria]                             -0.1397      4.876     -0.029      0.977      -9.752       9.473
Country[T.North Korea]                          1.3189      5.630      0.234      0.815      -9.780      12.418
Country[T.Norway]                              13.9068      5.630      2.470      0.014       2.807      25.006
Country[T.Pakistan]                             0.1533      4.876      0.031      0.975      -9.459       9.766
Country[T.Panama]                               2.0298      5.630      0.361      0.719      -9.070      13.129
Country[T.Paraguay]                             0.0759      5.630      0.013      0.989     -11.023      11.175
Country[T.Peru]                                 1.1767      4.876      0.241      0.810      -8.436      10.789
Country[T.Philippines]                          0.3137      4.597      0.068      0.946      -8.749       9.376
Country[T.Poland]                               7.4568      4.876      1.529      0.128      -2.155      17.069
Country[T.Portugal]                             4.1568      4.876      0.853      0.395      -5.455      13.769
Country[T.Puerto Rico]                          9.8568      5.630      1.751      0.081      -1.243      20.956
Country[T.Romania]                              2.8465      5.630      0.506      0.614      -8.253      13.946
Country[T.Russia]                              11.7736      4.256      2.766      0.006       3.383      20.164
Country[T.Rwanda]                              -0.6210      5.630     -0.110      0.912     -11.720      10.478
Country[T.Saudi Arabia]                        17.2343      4.451      3.872      0.000       8.460      26.009
Country[T.Senegal]                             -0.1009      5.630     -0.018      0.986     -11.200      10.998
Country[T.Serbia]                               5.5699      5.630      0.989      0.324      -5.529      16.669
Country[T.Sierra Leone]                        -0.5003      5.630     -0.089      0.929     -11.600      10.599
Country[T.Singapore]                            8.6707      5.630      1.540      0.125      -2.429      19.770
Country[T.Slovakia]                             9.3068      5.630      1.653      0.100      -1.793      20.406
Country[T.Somalia]                             -0.6325      5.630     -0.112      0.911     -11.732      10.467
Country[T.South Africa]                         8.1660      4.451      1.835      0.068      -0.609      16.941
Country[T.South Korea]                          9.0068      4.300      2.095      0.037       0.530      17.484
Country[T.Spain]                                5.3735      4.597      1.169      0.244      -3.689      14.436
Country[T.Sudan]                               -0.3841      5.630     -0.068      0.946     -11.483      10.715
Country[T.Sweden]                               5.5068      5.630      0.978      0.329      -5.593      16.606
Country[T.Switzerland]                          6.0068      5.630      1.067      0.287      -5.093      17.106
Country[T.Syria]                                1.1733      4.876      0.241      0.810      -8.439      10.786
Country[T.Taiwan]                              11.0368      4.597      2.401      0.017       1.974      20.099
Country[T.Tanzania]                            -0.4791      5.630     -0.085      0.932     -11.578      10.620
Country[T.Thailand]                             3.8007      5.630      0.675      0.500      -7.299      14.900
Country[T.Togo]                                -0.3714      5.630     -0.066      0.947     -11.471      10.728
Country[T.Tunisia]                              1.8483      5.630      0.328      0.743      -9.251      12.948
Country[T.Turkey]                               3.5503      4.361      0.814      0.417      -5.047      12.148
Country[T.Uganda]                              -0.5593      5.630     -0.099      0.921     -11.659      10.540
Country[T.Ukraine]                              5.2664      4.597      1.146      0.253      -3.796      14.329
Country[T.United Arab Emirates]                18.0151      4.597      3.919      0.000       8.952      27.078
Country[T.United Kingdom]                       4.1251      4.300      0.959      0.338      -4.352      12.602
Country[T.United States]                       14.3461      4.017      3.571      0.000       6.427      22.266
Country[T.Uruguay]                              1.5385      5.630      0.273      0.785      -9.561      12.638
Country[T.Uzbekistan]                           2.7200      5.630      0.483      0.630      -8.379      13.819
Country[T.Venezuela]                            5.4348      4.597      1.182      0.238      -3.628      14.497
Country[T.Vietnam]                              1.0072      4.876      0.207      0.837      -8.605      10.619
Country[T.Yemen]                                0.2995      5.630      0.053      0.958     -10.800      11.399
Country[T.Zambia]                              -0.4423      5.630     -0.079      0.937     -11.542      10.657
Country[T.Zimbabwe]                             0.2318      5.630      0.041      0.967     -10.868      11.331
==============================================================================
Omnibus:                      309.778   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10529.084
Skew:                           3.788   Prob(JB):                         0.00
Kurtosis:                      29.572   Cond. No.                         208.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
# Will try to see if clustering the pollution of cities reveals anything about its location in the world.

In [10]:
df['Country'].unique()

array(['United States', 'Australia', 'Niger', 'Vietnam', 'China',
       'France', 'Uruguay', 'Poland', 'Russia', 'India', 'Philippines',
       'Ivory Coast', 'Cameroon', 'United Arab Emirates', 'Ukraine',
       'Nicaragua', 'Nepal', 'Bangladesh', 'Pakistan', 'United Kingdom',
       'Angola', 'Bolivia', 'Iraq', 'Morocco', 'Germany', 'Algeria',
       'Kenya', 'Spain', 'South Korea', 'Malaysia', 'Canada', 'Finland',
       'Turkey', 'Ireland', 'Mexico', 'Somalia', 'Peru', 'Indonesia',
       'Libya', 'Democratic Republic of the Congo', 'Myanmar', 'Italy',
       'Chile', 'Thailand', 'Netherlands', 'Japan', 'Madagascar',
       'Brazil', 'Slovakia', 'Hungary', 'South Africa', 'Paraguay',
       'Iran', 'Greece', 'Chad', 'Israel', 'Venezuela', 'New Zealand',
       'Egypt', 'Argentina', 'Uganda', 'Syria', 'Saudi Arabia',
       'Portugal', 'Denmark', 'Serbia', 'Burkina Faso', 'Ecuador',
       'Colombia', 'Mozambique', 'Tunisia', 'Nigeria', 'Sierra Leone',
       'Singapore', 'Belarus', 'Taiwan', 'Yemen', 'Norway', 'Zambia',
       'Georgia', 'Senegal', 'Congo', 'Liberia', 'Kyrgyzstan', 'Benin',
       'Kuwait', 'Austria', 'Mali', 'Cuba', 'Romania', 'Laos', 'Bulgaria',
       'Cambodia', 'Sudan', 'North Korea', 'Azerbaijan', 'Puerto Rico',
       'Uzbekistan', 'Switzerland', 'Rwanda', 'Costa Rica', 'Panama',
       'Jordan', 'Tanzania', 'Belgium', 'Honduras', 'Guinea', 'Lebanon',
       'Czech Republic', 'Afghanistan', 'Haiti', 'Togo', 'Ghana',
       'Hong Kong', 'El Salvador', 'Ethiopia', 'Kazakhstan', 'Sweden',
       'Dominican Republic', 'Mauritania', 'Mongolia', 'Guatemala',
       'Zimbabwe', 'Armenia'], dtype=object)

In [11]:
len(df['City'].unique())
country_group = df.groupby('Country')
city_df = country_group.apply(lambda x: x['City'].unique())

In [12]:
cities_usa = list(city_df['United States'])
# cities_usa

We want to add a column which holds information on which region of the world each city is located. To do this, coordinates for each city will be added and then depending on the coordinate positioning each country will be added to a certain world region (such as, south Europe, east Asia, Oceania etc.).

In [13]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="user_agent")
location = geolocator.geocode("Melbourne") # Melbourne
# print(location.address)
lat_long = (location.latitude, location.longitude)
print(lat_long[0], lat_long[1])

-37.8142176 144.9631608

In [14]:
def add_coordinates(city):
    """
    This functon will add long. lat. coordinates for each city as a new column
    """

    if city != str:
        city = str(city)
    if city == "Baltimore(MD)":
        city = "Baltimore"
    if city == "Birmingham(AL)":
        city = "Birmingham"
    if city == "Valencia(VZL)":
        city = "Valencia"
    if city == "Tampa-St. Petersburg(FL)":
        city = "St. Petersburg, Florida"
    geolocator = Nominatim(user_agent="user_agent")
    # print(city)
    location = geolocator.geocode(city)
    lat_long = (location.latitude, location.longitude)
    return lat_long
    # print(location.address)

In [15]:
# Testing a random city to see if the function works properly
x = add_coordinates("St. Petersburg, Florida")
print(x)

(27.7703796, -82.6695085)

In [ ]:
# Apply the add_coordinates function to the dataframe to produce coordinates for each city
df["coordinates"] = df["City"].apply(add_coordinates)

In [ ]:
df["coordinates"].head()

In [ ]:

def geo_position(country, coordinates):
    """
    This function produces the regions of where a city is located depending on its coordinates.
    """
    # Some of the countries coord. are hard to capture, so they will be hard coded
    if country in ['Finland', 'Denmark', 'Sweden', 'Iceland', 'Norway']:
        return 'Nordic'
    if country == 'United States':
        return 'USA'
    if country == 'Canada':
        return 'Canada'
    if country == 'Russia':
        return 'Russia'
#     if country == 'Australia':
#         return 'Australia'
    if country in ['India', 'Bangladesh']:
        return 'West Asia'
#     if country == 'Bangladesh':
#         return 'West Asia'
    if country in ['Australia', 'New Zealand']:
        return 'Oceania'
#     if country == 'Australia':
#         return 'Australia'
    # coordnates[0] = 'latitude', coordnates[1] = 'longitude'
    # South America
    if coordinates[1] < float(28.0) and coordinates[1] > float(-130.0):
        if coordinates[0] < float(30) and coordinates[0] > float(2.5):
            return 'North South America'
        if coordinates[0] < float(2.5) and coordinates[0] > float(-34.0):
            return 'Mid South America'
        if coordinates[0] < float(-34.0):
            return 'South South America'
    # West Europe    
    if coordinates[0] < float(59.0) and coordinates[0] > float(46.0) and coordinates[1] < float(15.22) and coordinates[1] > float(-11):
        return 'West Europe'
    # South Europe
    if coordinates[0] < float(46.0) and coordinates[0] > float(35.45) and coordinates[1] < float(21.11) and coordinates[1] > float(-10):
        return 'South Europe'
    # East Europe
    if coordinates[0] < float(59.0) and coordinates[0] > float(39.0) and coordinates[1] < float(50.0) and coordinates[1] > float(15.22):
        return 'East Europe'
    # Middle East
    if coordinates[0] < float(39.3) and coordinates[0] > float(12.0) and coordinates[1] < float(71) and coordinates[1] > float(34):
        return 'Middle East'
    # West Asia
    if coordinates[0] < float(46.0) and coordinates[0] > float(23) and coordinates[1] < float(100) and coordinates[1] > float(73):
        return 'West Asia'
    # East Asia
    if coordinates[0] < float(49.2) and coordinates[0] > float(23.7) and coordinates[1] < float(150) and coordinates[1] > float(100):
        return 'East Asia'
    # South East Asia
    if coordinates[0] < float(23.7) and coordinates[0] > float(-16.0) and coordinates[1] < float(169) and coordinates[1] > float(92):
        return 'South East Asia'
    # Africa
    if coordinates[0] < float(37.0) and coordinates[0] > float(-35.0) and coordinates[1] < float(52) and coordinates[1] > float(-19):
        return 'Africa'
    else:
        return 'OTM'

In [ ]:
# Apply geo_position function to dataframe
df["region"] = df.apply(lambda x: geo_position(x['Country'], x['coordinates']), axis=1)

In [ ]:
df[['City', "region", 'coordinates']].head()
# sum(df['region'].isna())

In [ ]:
len(df['region'].unique())

Now that we have added coordinates and regions to each datapoint in our dataframe we can plot them and see if the regions cluster around the same levels of CO2 Emission. 

As seen below the plot is relativly uniform and it seems that CO2 Emission can not be explained simply by the region which cities are located. This means that there must be other variables which CO2 Emission is dependent upon.

In [ ]:
import seaborn
from  matplotlib import pyplot
from matplotlib.pyplot import figure
# 'Target', 'Pollution Index '
# Make 18 different random colors, one for each unique region
colors = []
for i in range(0, len(df['region'].unique())):
    rgb = (np.random.random(), np.random.random(), np.random.random())
    colors.append(rgb)
figure(num=None, figsize=(50, 40), dpi=80, facecolor='w', edgecolor='k')
df_plot = df[['Pollution Index ', 'Target', 'region']]
fg = seaborn.FacetGrid(data=df_plot, hue='region', aspect=1.61, ylim=(0,20))
fg.map(pyplot.scatter, 'Pollution Index ','Target').add_legend()
# region_group = df.groupby('region')
# region_group.get_group('Country').head()
# city_df = country_group.apply(lambda x: x['City'].unique())
# points = df[['Target', 'Pollution Index ']]
# for x, y in zip(x_)
# plt.scatter(points['Target'], points['Pollution Index '], c=df['region'].unique(), cmap='viridis')