In [18]:
import pandas as pd
from pandas.io.html import read_html
import requests

In [34]:
fossil_fuels = pd.read_csv('fossil-fuels-per-capita.csv', skipinitialspace=True) 
fossil_fuels.head()

   Entity Code  Year  Fossil fuels per capita (kWh)
0  Africa  NaN  1965                    2058.244430
1  Africa  NaN  1966                    2103.540893
2  Africa  NaN  1967                    2063.597325
3  Africa  NaN  1968                    2107.265144
4  Africa  NaN  1969                    2082.552855

In [35]:
column_names = ["Country", "Fossil fuel per capita (kWh)"]
df = pd.DataFrame(columns=column_names) 
df['Country'] = fossil_fuels['Entity'].unique()
df.head()

     Country Fossil fuel per capita (kWh)
0     Africa                          NaN
1    Algeria                          NaN
2  Argentina                          NaN
3  Australia                          NaN
4    Austria                          NaN

In [54]:
# Take last 4 years of fossil fuel consumptiona and average it
g = fossil_fuels[fossil_fuels['Year']>2015].groupby(fossil_fuels.Entity).mean()
consumption = list(g['Fossil fuels per capita (kWh)'])
# list(consumption)
df['Fossil fuel per capita (kWh)'] = consumption
df.head()

     Country  Fossil fuel per capita (kWh)
0     Africa                   3871.356953
1    Algeria                  15605.895543
2  Argentina                  18946.948084
3  Australia                  62540.175860
4    Austria                  30581.444034

In [45]:
df.to_csv('my data.csv')

range(2015, 2019)