## Weather anamolies
In this notebook, the ammount of weather anamolies in various cities will be compared. Any type of weather anamoly can be evaluated, but we will focus on nr of flood risks, and nr of storms (tornado/ hurrican).

In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('location_from_pickle.csv')
df.head()

,Unnamed: 0,City,cityID,clusterID,Typology,Country,Car Modeshare (%),Public Transit Modeshare (%),Bicycle Modeshare (%),Walking Modeshare (%),...,Sustainability Factor,Population Factor,Congestion Factor,Sprawl Factor,Network Density Factor,AvgTemperature,coordinates,Temperature,Humidity,Location
0,0,Baltimore(MD),285.0,7.0,Auto Sprawl,United States,85.0,6.1,0.3,2.6,...,0.355964,0.081956,0.180085,0.722163,0.425187,NaN,"(39.2908816, -76.610759)",7.34,82,"(39.2908816, -76.610759)"
1,1,Melbourne,10.0,8.0,Auto Innovative,Australia,80.0,14.0,2,4.0,...,0.397894,0.082267,0.333173,0.539355,0.558910,67.0,"(-37.8142176, 144.9631608)",19.87,44,"(-37.8142176, 144.9631608)"
2,2,Niamey,186.0,1.0,Congested Emerging,Niger,NaN,9.0,2,60.0,...,0.273646,0.248398,0.655464,0.275605,0.410312,89.0,"(13.524834, 2.109823)",20.64,22,"(13.524834, 2.109823)"
3,3,Hanoi,328.0,12.0,MetroBike Emerging,Vietnam,8.0,10.0,2,NaN,...,0.509057,0.292564,0.624623,0.666710,0.239113,77.3,"(21.0294498, 105.8544441)",15.19,52,"(21.0294498, 105.8544441)"
4,4,Urumqi,67.0,12.0,MetroBike Emerging,China,21.7,54.7,18.0,6.6,...,0.801464,0.322960,0.586019,0.791822,0.075617,NaN,"(43.419754, 87.319461)",-19.26,100,"(43.419754, 87.319461)"

In [28]:
# import required modules 
import requests, json 
  
# Enter your API key here 
api_key = "94076e1c28096503b28ffae8f5d84c91"
  
# base_url variable to store url 
base_url = "http://api.openweathermap.org/data/2.5/weather?"
  
# Give city name 
city_name = input("Enter city name : ") 
  
# complete_url variable to store 
# complete url address 
complete_url = base_url + "appid=" + api_key + "&q=" + city_name 
print(complete_url)
# get method of requests module 
# return response object 
response = requests.get(complete_url) 
response

Enter city name : New York
http://api.openweathermap.org/data/2.5/weather?appid=94076e1c28096503b28ffae8f5d84c91&q=New York

In [3]:
df = pd.read_csv(C:/Users/bjorn/OneDrive/Dokument/University/DTU/42577 Introduction to Business Analytics/challenge/42577-Introduction-to-Business-Analytics/weather data/)

SyntaxError: invalid syntax (<ipython-input-3-3717049755e5>, line 1)